<section class="user">
  <h1><%= @user.name %></h1>
  <h2>Email: <%= mail_to(@user.email) %></h2>
  <h2>Username: <%= @user.username %></h2>
  <h2>Sign-up Date: <%= @user.created_at.strftime("%a %b %d, %Y") %></h2>
  <% if current_user?(@user) %>
    <div class="actions">  
      <%= link_to "Sign Out", session_path, data: { turbo_method: :delete }, class: "button edit" %>
      <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
      <%= link_to "Delete Account", user_path(@user), 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"},
        class: "button delete" %>
    </div>
  <% end %>

  <% if @reviews.present? %>
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="details">
          <span class="title">
            <%= link_to review.movie.title, review.movie %>
          </span>
          <%= pluralize(review.stars, 'star') %>
          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
          <p>
            <%= review.comment %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @favorite_movies.present? %>
    <h3>Favorite Movies</h3>
    <div class="favorite-movies">
      <% @favorite_movies.each do |movie| %>
        <%= link_to image_tag(movie.image_file_name), movie %>
      <% end %>
    </div>
  <% end %>

</section>